// === Main ===
.header {
    position: relative;
    height: 1150px;
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -5;
        &:before {
            position: absolute;
            content: '';
            z-index: 2;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(34, 32, 33, 0.49);
            border-radius: 3px 62px 62px 0px;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 218px;
        right: 0;
        width: 1245px;
        background-color: $red;
        border-radius: 43px 0px 0px 43px;
        filter: drop-shadow(0px 4px 30px rgba(245, 245, 245, 0.17));
        &_text {
            width: 540px;
            padding: 75px 44px 102px 50px;
        }
        &_images {
            position: relative;
            width: 605px;
            &-item {
                width: 205px;
                height: 205px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &:nth-child(1) {
                    position: absolute;
                    top: 43px;
                    right: 115px;
                }
                &:nth-child(2) {
                    position: absolute;
                    top: 316px;
                    right: 360px;
                }
                &:nth-child(3) {
                    position: absolute;
                    top: 452px;
                    right: 115px;
                }
            }
        }
        &_divider {
            position: absolute;
            top: 43px;
            left: 634px;
            width: 1px;
            height: 511px;
            background-color: $white;
        }
    }
    &__title {
        width: 540px;
    }
    &__subtitle {
        width: 333px;
        color: $light-orange;
        font-family: $Inter;
        font-weight: 400;
        font-size: 30px;
        line-height: 39px;
        margin-top: 22px;
    }
    &__btn {
        margin-top: 58px;
    }
}
// === / Main ===

// === Media ===
@media (max-width: 1399px) {
    .header {
        &__content {
            width: unset;
            height: 730px;
            &_images {
                width: 300px;
                &-item {
                    &:nth-child(1) {
                        top: 800px;
                        right: 150px;
                    }
                    &:nth-child(2) {
                        top: 350px;
                        right: 50px;
                    }
                    &:nth-child(3) {
                        top: 650px;
                        right: 500px;
                    }
                }
            }
            &_divider {
                top: unset;
                bottom: 140px;
                left: 50px;
                height: 1px;
                width: 735px;
            }
        }
        &__title {
            width: 630px;
        }
    }
}

@media (max-width: 1199px) {
    .header {
        &__bg {
            width: 80%;
        }
    }
}

@media (max-width: 991px) {
    .header {
        height: 950px;
        &__content {
            top: 200px;
            width: 80%;
            height: 650px;
            &_images {
                &-item {
                    width: 170px;
                    height: 170px;
                    &:nth-child(1) {
                        top: 700px;
                        right: 100px;
                    }
                    &:nth-child(2) {
                        top: 330px;
                    }
                    &:nth-child(3) {
                        top: 580px;
                        right: 340px;
                    }
                }
            }
            &_divider {
                width: 85%;
                bottom: 110px;
            }
        }
        &__title {
            width: 500px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        height: 750px;
        &__content {
            top: 150px;
            height: 530px;
            &_text {
                padding-top: 60px;
                padding-left: 35px;
            }
            &_images {
                &-item {
                    width: 130px;
                    height: 130px;
                    &:nth-child(1) {
                        top: 570px;
                        right: 90px;
                    }
                    &:nth-child(2) {
                        top: 310px;
                    }
                    &:nth-child(3) {
                        top: 480px;
                        right: 270px;
                    }
                }
            }
            &_divider {
                width: 85%;
                bottom: 75px;
                left: 35px;
            }
        }
        &__title {
            width: 350px;
        }
        &__subtitle {
            width: 280px;
            font-size: 24px;
        }
    }
}

@media (max-width: 575px) {
    .header {
        height: 450px;
        &__content {
            height: 280px;
            border-radius: 14px 0px 0px 14px;
            &_text {
                padding-top: 39px;
                padding-left: 16px;
                padding-right: 15px;
            }
            &_images {
                &-item {
                    width: 85px;
                    height: 85px;
                    &:nth-child(1) {
                        top: 310px;
                        right: 30px;
                    }
                    &:nth-child(2) {
                        top: 140px;
                        right: 15px;
                    }
                    &:nth-child(3) {
                        top: 250px;
                        right: 130px;
                    }
                }
            }
            &_divider {
                bottom: 45px;
                left: 16px;
            }
        }
        &__title {
            width: 220px;
        }
        &__subtitle {
            width: 160px;
            font-size: 15px;
            line-height: 18px;
            margin-top: 10px;
        }
        &__btn {
            margin-top: 20px;
        }
    }
}
// === / Media ===