// === Colors ===
$red: #1e0c06;
$white: #f5f5f5;
$light-grey: lightgrey;
$light-blue: #a3b8d7;
$blue: #728bad;
$dark-blue: #5f7489;
$main-bg: #222021;
$light-orange: #FFDBBB;
$orange: #ffc099;
// === / Colors ===

// === Fonts ===
$Montserrat: 'Montserrat', sans-serif;
$Inter: 'Inter', sans-serif;
$Saira: 'Saira', sans-serif;
$KyivType: 'KyivType' , sans-serif;
// === / Fonts ===